<html>
	<head>
		<title>{%block pageTitle%}Demo{%/block%}</title>
		{%block headerMeta%}

		{%/block%}

		{%block baseCSS%}

		{%/block%}

		{%block headScript%}

		{%/block%}
	</head>

	<body class="{%block bodyClass%}claro{%/block%}">
		{%block demoHeader%}
			{%include demoHeader%}
		{%/block%}

		{%block bodyContent%}
			<h1>Default Content</h1>
		{%/block%}
		{%block djConfig%}
			<script type="text/javascript">	
				djConfig = {
					parseOnLoad: true,
					isDebug: true
				}
			</script>
		{%/block%}
		

		{%block dojoScriptInclude%}
			<script type="text/javascript" src="/jsclient/release-1.5.0b3/dojo/dojo.js"></script>
		{%/block%}
		{%block eobScript%}
	
		{%/block%}
	</body>
</html>
